# LaTeX auxiliary files
*.aux
*.bbl
*.bcf
*.blg
*.dvi
*.fdb_latexmk
*.fls
*.glo
*.gls
*.idx
*.ilg
*.ind
*.log
*.lot
*.lof
*.nav
*.out
*.pdfsync
*.run.xml
*.snm
*.synctex.gz
*.toc
*.vrb

# Misc build outputs
*.xdv
